<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/estilos.css">
	<title>Papeleria Bienvenido</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<nav class="menu">
				<a href="#" id="btn-acerca-de">Acerca de</a>
				<a href="#" id="btn-menu">Nuestro Productos</a>
				<a href="#" id="btn-ubicacion">Ubicación</a>
                <a href="php/iniciarSesion.php">Iniciar Sesión</a>
                <a href="php/registroCliente.php">Registrarse</a>
			</nav>

			<div class="textos">
				<h1 class="nombre">Papelería & Ciber</h1>
				<h3>Negocio Familiar.</h3>
			</div>
		</div>
	</header>

	<section class="main">
		<section class="acerca-de" id="acerca-de">
			<div class="contenedor">
				<div class="foto">
					<img src="img/productoS.jpg" alt="">
				</div>
				<article>
					<h3>Acerca de</h3>
					<p>En nuesta Papelería queremos brindarle el servicio más completo para su empresa, escuela, oficina, negocio o para su consumo personal, con una amplia variedad de productos: Papelería escolar, Papelería de oficina, Material para arte y dibujo, Material didáctico, Monografías y mapas, Muebles escolares y de oficina, Pizarrones, Equipos y accesorio para cómputo, Artículos para envoltura de regalos, entre otros.</p>
                    <p>Atendemos a escuelas inscritas en programas como "Escuelas de Calidad", "Escuelas Sabatinas", entre otros.</p>
                </article>
			</div>
		</section>

		<section class="menu">
			<div class="contenedor">
				<h3 class="titulo" id="platillos">Nuestro Productos</h3>
				
			</div>
		</section>

		<section class="galeria" id="galeria">
			<div class="foto">
				<img src="img/productoU.jpg" alt="">
			</div>
			<div class="foto">
				<img src="img/productoD.jpg" alt="">
			</div>
			<div class="foto">
				<img src="img/productoT.jpg" alt="">
			</div>
			<div class="foto">
				<img src="img/productoC.jpg" alt="">
			</div>
			<div class="foto">
				<img src="img/productoCI.jpg" alt="">
			</div>
			<div class="foto">
				<img src="img/productoS.jpg" alt="">
			</div>
		</section>

		<section class="ubicacion" id="ubicacion">
			<div class="contenedor">
				<h3 class="titulo">Contácto y Ubicación</h3>
				<div class="direccion">
					<p class="calle">Privada Emiliano Zapata<br />San Miguel Totoltepec</p>
					<p class="telefono">722-807-7328</p>
					<p class="correo">sebastianneriricardo@gmail.com</p>
				</div>
				<div class="horarios">
					<h4>Horarios</h4>
					<p class="entre-semana">Lunes a Viernes<br />12:00am - 8:00pm</p>
					<p class="fin-semana">Sabados y Domingos<br />2:00am - 6:00pm</p>
				</div>
			</div>
		</section>
	</section>

	<footer>
		<div class="contenedor">
			<div class="copyright">
				<p>Ricardo Sebastian Neri</p>
			</div>
		</div>
	</footer>

	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/efectos.js"></script>
</body>
</html>